
<div *ngIf="errorMessage" class="error">
    <p class="error">{{ errorMessage }}</p>
  </div>
  
  <div>
    <h1 role="banner" class="header">Products</h1>
    <div class="content">
        <table>
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.productId}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.productCategory }}</td>
                <td>{{ product.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
  <ng-template #loading>
    <div role="status" aria-live="polite">
        Loading...
    </div>
  </ng-template>
  
  
   
